[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/mary/dbus-1.9.8/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
