[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/mary/dbus-1.9.8/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

